.app-container {
display: flex;

}

.content{
  width: 100%;
}

.sidebar{
  min-height: 800px;
}

/* .post{
  display:flex
} */

.post-card{
  margin:20px 50px;
  width: 27rem;
}

.hashtag{
  margin: 0px 10px;
}

.reactions{
  margin: 15px 0 0 0;
  width: 100%;
}

.create-post{
  margin-left: 10%;
  margin-top: 3%;
  width: 80%;
}

.spinner{
  margin: 10%;
}